<<<<<<< HEAD
<h1>Login</h1>

<% form_for(@user_session) do |f| %>
=======
  <head>
   <title>Welcome to Empower Communities</title>
  </head>
  <body>
   <h1>Welcome to Empowering Communities</h1>
   <h3>The home of Carpets for Communities</h3>
   <br />
   <h1>Login</h1>
   <% form_for(@user_session) do |f| %>
>>>>>>> 586ac0c2770e732e2e09eac8825e95d8de361fb8
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<<<<<<< HEAD
<%= link_to 'Back', user_sessions_path %>
=======
   <br />
   <p>or</p>
   <br />
   <h1><a href="/register">Register</a></h1>
>>>>>>> 586ac0c2770e732e2e09eac8825e95d8de361fb8
